.footer {
  text-align: center;
  padding: 5%;
  font-size: 45px;
}
.links {
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  color: #aa7070;

}

.links a {
  color: #aa7070;
}

.footer p {
color: black;
font-weight: lighter;
font-size: 25px;
}

